@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requisitos:</h2>

        <p> Cédula (obligatorio)   </p>
        <p> Nombre (obligatorio)   </p>
        <p> Apellido (obligatorio) </p>
        <p> Edad (validar que sea mayor que 15)        </p>
        <p> Teléfono        </p>
        <p> Correo electrónico (Validar el formato de un correo electrónico)        </p>
        <p> Género (Masculino/Femenino) (DropDownList)  </p>
        <p> Estado civil (Casado/Soltero/Viudo/Union Libre) (RadioButton)</p>
        <p> Hobbys (Checkbox, incluir 4 pasatiempos)  </p>

        <p><a class="btn btn-default" href="Home/Formulario">Formulario &raquo;</a>
        </p>
    </div>
</div>